@import '../utilities/variables';
@import './dashboard-tile';

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 34rem;

        @media (min-device-width: 320px) and (max-device-width: 480px) {
            min-height: 27rem;
        }

        h1 {
            color: $color-1;
            margin-bottom: 1rem;

            @media (min-device-width: 320px) and (max-device-width: 480px) {
                margin-bottom: 0;
            }
        }

        .tile-container {
            border-top: 2px solid $color-1;
            background-color: $grey-light;
            padding: 3rem 0 3rem 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @media (min-device-width: 320px) and (max-device-width: 480px) {
                padding: 1rem 0 3rem 0;
            }
        }
    }
}