@import "./utilities/variables";

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;

    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 1.8rem;
    }
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: .8rem;
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: .8rem;
    }

    &.error {
        color: $color-5;
        font-size: 1rem;
    }
}

span.nav-menu-item {
    color: $color-1
}

.error-container {
    margin: -5rem 0 -5rem 0;
    min-height: 1.5rem;
}