.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 3rem;

    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 1.8rem;
    }
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: .8rem;
    }
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
    @media (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: .8rem;
    }
}