@import './answer-option-card';

.content {
    &.create-survey {
        margin-top: 3rem;
        align-items: center;
        justify-content: space-between;

        @media (min-device-width: 320px) and (max-device-width: 480px) {
            margin-top: 0rem;
        }

        h1 {
            text-align: center;
        }

        .tile-container {
            border-top: none;
            background-color: transparent;
            padding: 0 0 0 0;
        }

        .inner-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .add-answer {
                padding-right: 20%;
                align-self: flex-end;
                color: $color-1;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                margin: 1rem 0 1rem 0;
                
                span {
                    cursor: pointer;
                }
            }

            .answers-container {
                width: 100%;
                height: 10rem;
                margin-top: .25rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                overflow: scroll;
                overflow-x: hidden;
                overflow-y: auto;
            }
        }
        
        .create-survey-button-container {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            margin: 2rem 0 2rem 0;

            .buttons-right {
                display: flex;
                flex-direction: row;
            }
        }
    }
}