@import '../utilities/variables';

.footer {
    background-color: $color-1-dark;
    width: 100%;
    min-height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .footer-col {
        margin: 0 2rem 0 2rem;

        p {
            font-size: 1rem;
            color: $offwhite
        }
    }
}